html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100%;
  background-color: #faf8f5;
  background-image: radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.6),
      transparent 60%
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 192, 203, 0.25) 30%,
      rgba(216, 191, 216, 0.2) 40%,
      rgba(173, 216, 230, 0.25) 60%,
      rgba(240, 230, 140, 0.2) 80%,
      rgba(255, 255, 255, 0.2) 100%
    );
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;

  animation: pearlFade 1.5s ease-in-out, pearlShimmer 8s ease-in-out infinite;
}

body {
  background: transparent;
  min-height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  margin: 10px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
}

h1,
footer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  padding: 1rem;
  border-radius: 8px;
}

form {
  padding: 1rem;
  display: flex;
}

.instructions {
  padding: 10px;
  border: 1px solid rgba(66, 65, 69, 0.5);
  flex: 1;
  min-width: 0;
  font-size: 16px;
  border-radius: 15px;
  line-height: 20px;
  color: #353438;
  box-shadow: 0px 20px 60px rgba(56, 55, 59, 0.08);
}

.submit-button {
  box-shadow: 0px 20px 60px rgba(56, 55, 59, 0.08);
  margin-left: 10px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(66, 65, 69, 0.5);
  padding: 14px 24px;
  flex: 0 0 150px;
  background: white;
}

.content {
  font-size: 17px;
  padding: 1rem;
  line-height: 1.5;
}

@keyframes pearlFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pearlShimmer {
  0% {
    background-position: 0% 0%, 0% 0%;
  }
  50% {
    background-position: 100% 100%, 100% 100%;
  }
  100% {
    background-position: 0% 0%, 0% 0%;
  }
}

footer {
  text-align: center;
  font-size: 13px;
}
